.faq{
display: flex;
flex-direction: column;
padding: 20px;
padding-top: 1px;
}
.faq1{
 text-align:center;
font-size: 100px;
background-color: rgba(61, 70, 75, 0.158);
font-weight: bold;
}
.faq2{
    display: flex;
    padding: 50px;
}